.word{
  text-transform: uppercase;
  padding: 14px 16px;
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,.14);
  background: rgba(0,0,0,.35);
  box-shadow: 0 10px 30px rgba(0,0,0,.35);
  font-size: clamp(40px, 10vw, 150px);
}
