/* RESPOSTA */
.answer {
  text-align: center;
}

.answer-text {
  font-weight: 900;
  font-size: clamp(26px, 3.5vw, 44px);
}

/* Deixa os botões um pouco mais elegantes */
.btn-outline-light {
  border-width: 1px;
}
