.reference-display{
  font-size: 20px;
}

.blank{
  display: inline-block;
  vertical-align: baseline;

  background: #ffc107;
  color: transparent;   /* palavra escondida */

  padding: 0.15em 0.35em;
  border-radius: 0.3em;

  line-height: 1;
  margin: 0 0.08em;
  min-width: 2ch;

  font-weight: 900;
}

.blank.revealed{
  color: #000;
  background: #ffda4d;
  transition: all 0.25s ease;
  transform: scale(1.05);
}
